/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
/* 
.App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.gutter-example .ant-row > div {
  background: transparent;
  border: 0;
}

.full-height {
  height: 100%;
}
.full-height-80 {
  height: 80%;
}
.full-height-20 {
  height: 20%;
}
.gutter-box {
  padding: 5px 0;
  
  height: 400px; 

  position: relative;
  top: 15%;
}
.login-box{
  height: 400px; 
  height: 430px;
  width: 300px;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.349019607843137);
  padding-top: 6%;
  position: relative;
  top: -4%;
  text-align: center;
  /* 居中 */
  margin: 0 auto;
  border-color: rgba(233, 233, 233, 1);
}
.login-input input{
  padding-left: 50px !important;
}
.login-input input::-webkit-input-placeholder{
  color: #cccccc;
  font-size: 14px;
}

@media only screen and (max-height: 666px) {
  #copy-right {
    display: none;
  }

  #defaultCanvas0 {
    display: none;
  }
}

@media only screen and (max-height: 500px) {
  .gutter-box {
    top: 7%;
  }
}
@media only screen and (max-width: 1150px) {
  #defaultCanvas0 {
    display: none;
  }
  
}
@media only screen and (max-height: 470px) {
  .gutter-box {
    top: 10%;
    height: 330px;
  }
  .login-box {
    height: 330px;
    padding-top: 1%;
  }
  
}